# Comprehensions
Comprehensions in Python are a succinct and powerful feature for creating and transforming data structures. They provide a concise syntax for generating and modifying iterables such as lists and dictionaries, allowing for efficient operations on iterable objects in just a single line of code.

They follow the general syntax `[expression for item in iterable if condition]`

# Comprehensions

### Example
Creating list comprehensions

In [165]:
daily_sales = [120, 105, 133, 89, 74, 112, 115]

In [166]:
daily_sales

[120, 105, 133, 89, 74, 112, 115]

In [167]:
[val for val in daily_sales]

[120, 105, 133, 89, 74, 112, 115]

In [168]:
rate_val = 5

In [169]:
[val * rate_val for val in daily_sales]

[600, 525, 665, 445, 370, 560, 575]

In [170]:
daily_sales_revenue = [val * rate_val for val in daily_sales]
daily_sales_revenue

[600, 525, 665, 445, 370, 560, 575]

In [171]:
comp_list = [num ** 2 for num in range(1, 6)]

In [172]:
comp_list

[1, 4, 9, 16, 25]

In [173]:
my_string = 'Hello'

In [174]:
comp_list = [char for char in my_string]

In [175]:
comp_list

['H', 'e', 'l', 'l', 'o']

In [176]:
comp_list = [ord(char) for char in my_string]

In [177]:
comp_list

[72, 101, 108, 108, 111]

In [178]:
# filtering using a conditional
comp_list = [char for char in my_string if char in "aeiou"]

In [179]:
comp_list

['e', 'o']

### Quiz
Transform the list `[10, 20, 30, 40, 50, 60, 70]` to `[1, 2, 3, 4, 5, 6, 7]` using comprehensions

In [180]:
my_list = [10, 20, 30, 40, 50, 60, 70]
comp_list = [num//10 for num in my_list]
comp_list

[1, 2, 3, 4, 5, 6, 7]

Similarly, we can create comprehensions using other Python data structures as well.

### Example
Dictionary comprehensions

In [181]:
dict_comp = {i: i for i in range(4)}

In [182]:
dict_comp

{0: 0, 1: 1, 2: 2, 3: 3}

In [183]:
type(dict_comp)

dict

In [184]:
dict_comp = {num: num * 2 for num in range(3)}

In [185]:
dict_comp

{0: 0, 1: 2, 2: 4}

In [186]:
words = ['apple', 'banana', 'kiwi', 'orange', 'grape']

In [187]:
dict_comp = {word: len(word) for word in words}

In [188]:
dict_comp

{'apple': 5, 'banana': 6, 'kiwi': 4, 'orange': 6, 'grape': 5}

In [189]:
dict_comp = {word: word.upper() for word in words}

In [190]:
dict_comp

{'apple': 'APPLE',
 'banana': 'BANANA',
 'kiwi': 'KIWI',
 'orange': 'ORANGE',
 'grape': 'GRAPE'}

In [191]:
# filtering using a conditional
dict_comp = {word: word for word in words if 'n' in word}

In [192]:
dict_comp

{'banana': 'banana', 'orange': 'orange'}

# Functions
In Python, a function is a block of organized, reusable code that performs a specific task. Functions help in modularizing code, making it more readable, and promoting code reusability.

## Built-in functions
So far in earlier sessions, you have come across several built-in functions and functions such as `len`, `print`, `ord`, `int`, `sorted` and so on

Built-in functions in Python are functions that are available as part of the Python standard library. These functions are always accessible and don't require importing any additional modules.

### Example
Built-in functions

In [193]:
print('This a built-in function')

This a built-in function

In [194]:
len('Harry Potter')

12

In [195]:
ord('A')

65

In [196]:
sorted([5, 4, 3, 2, 1])

[1, 2, 3, 4, 5]

In [197]:
abs(-40)

40

Notice that you were not required to write a logic for the above functions. You only have to call them to access their functionality.

Python has an extensive list of built-in functions that perform a variety of tasks. You are encouraged to explore these further.

## User-defined functions

### Example
Defining a function

In [198]:
# Defining a function
def printer_function():
    print('This a simple function')

In [199]:
printer_function

In [200]:
# Calling the function
printer_function()

This a simple function

In [201]:
# def printer_function:
#     print('This a simple function')

In [202]:
# def printer_function():
# print('This a simple function')

Notice similar to conditional and looping structures, functions require an indentation when writing the logic statements

In [203]:
def greet():
    print('Hello there!')

In [204]:
greet()

Hello there!

### Example
Practical considerations while defining functions: Adding docstring in function definition. A docstring in Python is a multiline comment that occurs as the first statement in a function. Its purpose is to provide documentation for the function.

In [205]:
def greeting():
    """
    This function prints a greeting message
    """
    print('Hello!')

In [206]:
greeting()

Hello!

In [207]:
help(greeting)

Help on function greeting in module __main__:

greeting()
    This function prints a greeting message

Note that `help` is also a function

In [208]:
def add():
    """
    This function calculates and prints the sum of 10 and 30
    """
    a = 10
    b = 30
    print(a + b)

In [209]:
add()

40

In [210]:
help(add)

Help on function add in module __main__:

add()
    This function calculates and prints the sum of 10 and 30

### Example
Practical considerations while defining functions: Using the `pass` statement. The `pass` statement is a `null` operation, and it does nothing when executed. It is often used as a placeholder before writing the code in a function.

In [211]:
def my_function():
    pass

In [212]:
my_function()

### Quiz
Create a function that calculates and prints the square of 10. Add a docstring to help describe the function.

In [213]:
def num_squared():
    """
    This function calculates and prints the square of 10
    """
    num = 10
    print('The square of', num, 'is', num ** 2)

In [214]:
num_squared()

The square of 10 is 100

In [215]:
help(num_squared)

Help on function num_squared in module __main__:

num_squared()
    This function calculates and prints the square of 10

## Function scope
In Python, the concepts of global and local scope are crucial for understanding how variables are accessed and modified within functions

**Global scope**:
- Variables outside functions have global scope
- Accessible throughout the code
- Declared at the top level of a script or module

### Example
Global variable

In [216]:
global_variable = 10

def some_function():
    print(global_variable)

In [217]:
some_function()

10

**Local scope**:
- Variables inside functions have local scope
- Accessible only within that function
- Created and destroyed when the function is called and exits

In [218]:
def another_function():
    local_variable = 5
    print(local_variable)

In [219]:
another_function()

5

In [220]:
# print(local_variable)

### Example
Modifying a global variable inside a function requires using the `global` keyword

In [221]:
global_variable = 10

In [222]:
global_variable

10

In [223]:
def modify_global():
    global global_variable
    global_variable = 20

In [224]:
modify_global()

In [225]:
global_variable

20

Modifying a global variable without using the global keyword doesn't change its value outside the function scope

In [226]:
global_variable = 10

In [227]:
def modify_global():
    global_variable = 20

In [228]:
modify_global()

In [229]:
global_variable

10

### Quiz
Save the string `'2024B4A3'` in a global variable `ID`. Then define a function called `append_string` that appends the string `'737G'` to the string stored in `ID` by changing the `ID` variable itself.

In [230]:
ID = '2024B4A3'

In [231]:
def append_string():
    '''This function appends a string at the end of the global variable ID'''
    global ID
    ID = ID + '737G'

In [232]:
append_string()

In [233]:
ID

'2024B4A3737G'

## Returning values

### Example
Notice so far when you we called the functions, you were printing values using the `print` funtion. However, one of the essential features of function is the ability to return values using the `return` statement. You have used this functionality while accessing Python's built-in functions.

Note that the docstring is used to specify the return type of the function as well

In [234]:
def add():
    '''
    Returns the sum of 4 and 3
    return: The sum of 4 and 3
    rtype: int
    '''

    a = 4
    b = 3

    return a + b

In [235]:
val = add()

In [236]:
val

7

You can return multiple values as a tuple

In [237]:
def return_vals():
    '''
    Returns a float and a string value
    return: a number
    rtype: float
    return: a phrase
    rtype: string
    '''
    a = 1.2
    b = 'some string'

    return a, b

In [238]:
values = return_vals()

In [239]:
values

(1.2, 'some string')

In [240]:
type(return_vals())

tuple

In [241]:
float_value, string_value = return_vals()

In [242]:
print(float_value, type(float_value))

1.2 <class 'float'>

In [243]:
print(string_value, type(string_value))

some string <class 'str'>

### Quiz
Write a function that returns the sum and product of the numbers 2 and 3

In [244]:
def return_numbers():
    """
    Calculates the sum and product of 2 and 3 and returns the two values.
    Returns:
    - int: The sum of the two random numbers
    - int: The product of the two random numbers
    """
    # Declare the two numbers
    num1 = 2
    num2 = 3

    # Calculate sum and product
    summation = num1 + num2
    product = num1 * num2

    # Return both values
    return summation, product

In [245]:
# Example usage
result_sum, result_product = return_numbers()

In [246]:
print(f"Sum: {result_sum}, Product: {result_product}")

Sum: 5, Product: 6

## Functions with parameters

**Parameters** are variables listed in the function definition. They are placeholders for values that a function will receive when it is called.

**Arguments** are the actual values or expressions that are passed to a function when it is called.

### Example
So far we have been using static values within our functions. Let's utilize another important feature of functions, which to accept dynamic data at the time of invocation.

In [247]:
def greeting(user):
    """
    Generate a friendly greeting.

    :param user: The name of the user.
    :type user: str
    :return: A greeting message.
    :rtype: str
    """
    return 'Hello there, ' + user

In [248]:
greet_sujata = greeting('Sujata')

In [249]:
print(greet_sujata)

Hello there, Sujata

In [250]:
greeting('Manish')

'Hello there, Manish'

In [251]:
name = 'Liam'
greeting(name)

'Hello there, Liam'

In [252]:
def add(a, b):
    return a + b

In [253]:
add(1000, 200)

1200

In [254]:
add(-1, 1)

0

In [255]:
# add(10, 10, 10)

Function call needs to have the same number of arguments as parameters that are defined, if there is no default value defined. We will look at default arguments later.

In [256]:
def divide(a, b):
    """
    Divide two numbers.

    :param a: The numerator
    :type a: float
    :param b: The denominator (must be non-zero)
    :type b: float
    :return: The result of the division
    :rtype: float
    :raises ZeroDivisionError: If the denominator is 0
    """
    if b == 0:
        raise ZeroDivisionError("Cannot divide by zero")

    return a / b

Note that we can use the `raise` keyword to raise an error if one of the arguments do do not adhere to the specifications of the function. You can read more abour the behaviour of the raise command on your own.

In [257]:
divide(3, 2)

1.5

In [258]:
divide(4, 5)

0.8

In [259]:
# divide(4, 0)

In [260]:
divide(0, 4)

0.0

In [261]:
# divide('a', 3)

Function call needs to adhere to the required data types

In [262]:
add('a', 'b')

'ab'

The `+` operator is overloaded in that it can work with strings and numeric data types both. But that is not the case for the `/` operator.

### Quiz
Create a function that takes two numbers and returns their product. Make sure that you write the docstring for the function.

In [263]:
def multiply(x, y):
    """
    Multiply two numbers.

    :param x: The first number
    :type x: float
    :param y: The second number
    :type y: float
    :return: The result of the multiplication
    :rtype: float
    """
    return x * y

In [264]:
multiply(5, 3)

15

In [265]:
prod_res = multiply(1_000_000, 2)
prod_res

2000000

### Example
So far we have been passing values of arguments without specifying the names of the arguments. These arguments are called **positional arguments**. As the name suggests, the order and position in which these arguments are passed is critical.

Whereas, when we pass the value of an argument by assigning it to the name of the parameter, these kinds of arguments are called **keyword arguments**. We don't need to worry about the order and positioning of the arguments in this case.

In [266]:
def print_person_info(name, age, city):
    """
    Print information about a person.

    Parameters:
    - name (str): The name of the person
    - age (int): The age of the person
    - city (str): The city where the person lives
    """
    print(f"Name: {name}, Age: {age}, City: {city}")

In [267]:
# Using positional arguments
print_person_info("John", 25, "New York")

Name: John, Age: 25, City: New York

In [268]:
# Using keyword arguments
print_person_info(age = 30, name = "Alice", city = "Los Angeles")

Name: Alice, Age: 30, City: Los Angeles

In [269]:
# Mixing positional and keyword arguments
print_person_info("Bob", city = "Chicago", age = 22)

Name: Bob, Age: 22, City: Chicago

In [270]:
# Positional arguments need to come before keyword arguments
# print_person_info(name = "Wu", "Hong Kong", "35")

## Functions with default arguments
We can specify default values for parameters in Python functions which can be overriden manually

### Example
Functions with default arguments

In [271]:
def add_five(x, y = 5):
    """
    Add a value to another, with a default value of 5.

    :param x: The first number
    :type x: int or float
    :param y: The value to add (default is 5)
    :type y: int or float
    :return: The result of adding x and y
    :rtype: int or float
    """
    return x + y

In [272]:
add_five(10)

15

In [273]:
add_five(10, 25)

35

In [274]:
def greet(name, greeting = 'Hello'): return f'{greeting}, {name}!'

In [275]:
greet(name = 'Malik')

'Hello, Malik!'

In [276]:
greet(name = 'Bob', greeting = 'Hi')

'Hi, Bob!'

In [277]:
def calculate(x, y, operation = 'add'):
    if operation == 'add': return x + y
    elif operation == 'subtract': return x - y

In [278]:
calculate(10, 30)

40

In [279]:
calculate(10, 30, 'subtract')

-20

In [280]:
def power(base, exponent=2): return base ** exponent

In [281]:
power(4)

16

In [282]:
power(3, 3)

27

## Passing data structures to functions

### Example
Passing lists as arguments

In [283]:
def mean(data): return sum(data) / len(data)

In [284]:
my_data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [285]:
mean(my_data)

10.5

In [286]:
def find_max(my_list): return sorted(my_list)[-1]

In [287]:
my_data = [15, 2, 8, 19, 4, 12, 6, 17, 1, 10, 11, 7, 20, 14, 5, 3, 9, 18, 13, 16]

In [288]:
find_max(my_data)

20

### Example
Passing dictionaries as arguments

In [289]:
def display_user_info(user_info):
    print('User Information: ')
    for key, value in user_info.items(): print(f'{key.capitalize()}: {value}')

In [290]:
user_data = {'name': 'Ranjiv Alvester', 'age': 25, 'email': 'ranjiv@example.com'}

In [291]:
display_user_info(user_data)

User Information:
Name: Ranjiv Alvester
Age: 25
Email: ranjiv@example.com

In [292]:
def calc_tot_price(cart):
    total_price = sum(cart.values())
    return total_price

In [293]:
shopping_cart = {'item1': 10.99, 'item2': 5.99, 'item3': 7.49}

In [294]:
shopping_cart

{'item1': 10.99, 'item2': 5.99, 'item3': 7.49}

In [295]:
calc_tot_price(shopping_cart)

24.47

### Quiz
Create a function the accepts a dictionary containing student names as key and their corresponding scores as values. Each student may have multiple scores.

In [296]:
def find_mark_avg(students_data):
    average_marks = {}
    for name, mark in students_data.items():
        avg_mark = sum(students_data[name]) / len(students_data[name])
        average_marks[name] = round(avg_mark, 2)
    return average_marks

In [297]:
students_data = {'Surendara': [90, 85, 92], 'Bob': [78, 80, 75], 'Priya': [88, 90, 92, 85]}

In [298]:
find_mark_avg(students_data)

{'Surendara': 89.0, 'Bob': 77.67, 'Priya': 88.75}

## Lambda functions

### Example
Lambda functions, also known as anonymous functions, are a concise way to create small, one-time-use functions in Python. They are defined using the `lambda` keyword.

In [299]:
lambda x: x * 2

Lambda functions are called *anonymous* because they don't have a formal name assigned to them at the time of definition. While they are often assigned to variables for later use, the function itself is not given a name in the same way regular functions are defined using the `def` keyword. Note that the functions defined using the `def` keyword cannot be assigned to variables.

In [300]:
double = lambda x: x * 2

In [301]:
double(2)

4

In [302]:
add = lambda x, y: x + y

In [303]:
# add(2)

In [304]:
add(2, 4)

6

In [305]:
square = lambda x: x ** 2

In [306]:
square(10)

100

In [307]:
sqrt = lambda y: y ** 0.5

In [308]:
sqrt(25)

5.0

In [309]:
cap = lambda some_string: some_string.upper()

In [310]:
cap('i like python!')

'I LIKE PYTHON!'

In [311]:
sum_list = lambda some_list: sum(some_list)

In [312]:
my_list = [1, 2, 3, 4, 5]

In [313]:
sum_list(my_list)

15

### Quiz
Create a lambda function that takes a list and returns the number of elements in a list

In [314]:
len_list = lambda some_list: len(some_list)

In [315]:
my_list = [1, 2, 3.5, 4, 5.8, 6, 7, 8.2, 9, 10]

In [316]:
len_list(my_list)

10

## Higher-order functions
In Python, functions are first-class objects, and this means they can be treated like any other object (such as integers, strings, lists, etc.).

A higher-order function is a function that takes one or more functions as arguments or returns a function as its result

### Example
You can pass functions as arguments to other functions. This allows you to abstract over actions, making your code more flexible and modular.

In [317]:
def apply_operation(operation, x, y):
    """
    Apply a binary operation on two operands.

    Parameters:
    - operation: A binary function taking two arguments
    - x, y: Operands on which the operation is applied

    Returns:
    The result of applying the operation on x and y
    """
    return operation(x, y)

def add(x, y):
    """
    Add two numbers.

    Parameters:
    - x, y: Numbers to be added

    Returns:
    The sum of x and y
    """
    return x + y

def multiply(x, y):
    """
    Multiply two numbers.

    Parameters:
    - x, y: Numbers to be multiplied

    Returns:
    The product of x and y
    """
    return x * y

In [318]:
# Example usage of apply_operation with add
result_add = apply_operation(add, 2, 3)

In [319]:
print(result_add)

5

In [320]:
# Example usage of apply_operation with multiply
result_multiply = apply_operation(multiply, 2, 3)

In [321]:
print(result_multiply)

6

### Example
The `map` function

In [322]:
def square(x): return x ** 2

In [323]:
my_list = [1, 2, 3, 4, 5]

In [324]:
squared_list = map(square, my_list)
squared_list

Notice the `map` function in Python returns a map object, which is an iterator. The map object contains the results of applying a given function to each item in an iterable. Therefore to access the iterable, you should convert the object into a list or a tuple.

In [325]:
squared_list = list(squared_list)

In [326]:
squared_list

[1, 4, 9, 16, 25]

In [327]:
my_list

[1, 2, 3, 4, 5]

In [328]:
doubled_list = list(map(lambda x: x * 2, my_list))
doubled_list

[2, 4, 6, 8, 10]