# Conditionals
In Python, conditional statements are used to control the flow of the execution of a program based on certain conditions. The primary conditional statements in Python are:
- `if` statement
- `if-else` statement
- `if-elif-else` statement
- `match-case` statement

## The `if` statement
Used to execute a block of code if a specified condition is true

### Example
Boolean values

In [ ]:
x = 10

In [ ]:
x > 5

True

In [ ]:
bool_val = x > 5

In [ ]:
if bool_val: print('x is greater than 5')

x is greater than 5

In [ ]:
if x > 5: print('x is greater than 5')

x is greater than 5

In [ ]:
if x < 0: print('This will not be printed')

In [ ]:
if True: print('This statement will always be printed')

This statement will always be printed

In [ ]:
if False: print('This statement will never be printed')

In [ ]:
is_sunny = True
if is_sunny: print("It's a sunny day!")

It's a sunny day!

In [ ]:
x > 5 and x < 15

True

In [ ]:
bool_val = x > 5 and x < 15

In [ ]:
if bool_val: print('x is greater than 5')

x is greater than 5

In [ ]:
if x > 5 and x < 15: print('x is greater than 5')

x is greater than 5

In [ ]:
if (x > 5) and (x < 15): print('x is greater than 5')

x is greater than 5

In [ ]:
temperature = 25

In [ ]:
if temperature > 30: print('It is hot outside!')
if temperature == 25: print('It is pleasant outside')
if temperature < 10: print('It is cold outside')

It is pleasant outside

In [ ]:
x = 10
if x > 5:
    print('x is greater than 5')

x is greater than 5

In [ ]:
temperature = 25
if temperature > 30:
    print("It's hot outside!")
if temperature < 10:
    print("It's cold outside!")

In [ ]:
# grade = 35
# if grade <= 50:
# print('Will cause an error since this line is not proprely indented!')

In [ ]:
grade = 35
if grade <= 50: print('No error now!')

No error now!

In [ ]:
grade = 35
if grade <= 50:
    print('No error now!')

No error now!

In [ ]:
if grade > 25:
    GPA = 25 / 10
    print(f'The GPA is {GPA}')

The GPA is 2.5

### Example
Boolean interpretation of numerics and strings

In [ ]:
if 1: print('This statement will always be printed')

In [ ]:
if 0: print('This statement will never be printed')

In [ ]:
if 34: print('This statement will always be printed')

In [ ]:
if 34.56: print('This statement will always be printed')

In [ ]:
if -2: print('This statement will always be printed')

In [ ]:
if '': print('This statement will always be printed')

In [ ]:
if "": print('This statement will never be printed')

In [ ]:
if ' ': print('This statement will always be printed')

In [ ]:
if 'monday': print('This statement will always be printed')

### Example
Compound conditions

In [ ]:
is_sunny = True
temperature = 28

In [ ]:
if is_sunny and temperature > 25: print('It is a warm and sunny day!')

In [ ]:
if is_sunny or temperature > 25: print('It is a pleasant day!')

### Example
Conditions on variables

In [ ]:
name = 'Akhil'
if len(name) >= 5: print('Name has 5 or more characters')

### Example
Negation

In [ ]:
customer_age = 70
if customer_age >= 65: print('Customer is eligible for a senior discount')

In [ ]:
customer_age = 35
if not customer_age >= 65: print('Customer is not eligible for a senior discount')

### Quiz
Suppose that the value of a variable `customer_type` is `'new'` and the value of a variable `customer_income` is `5345662`. Store these values in the right variables and then write `if` statements to check whether the customer is a new customer and whether their income is above $4500000$ INR. If so, then print the statement `'target for business loan'`.

In [ ]:
### YOUR CODE HERE ###

## The `if-else` statement
The `if-else` statement allows you to execute one block of code if the condition is true and another block of code if the condition is false

### Example
Creating `if-else` statements

In [ ]:
if True: print('This will always be printed!')
else: print('This will never be printed!')

In [ ]:
if False: print('This will never be printed!')
else: print('This will always be printed!')

In [ ]:
customer_age = 70
if customer_age >= 65: print('Customer is eligible for a senior discount')
else: print('Customer is not eligible for a senior discount')

In [ ]:
customer_age = 45
if customer_age >= 65:
    print('Customer is eligible for a senior discount')
else:
    print('Customer is not eligible for a senior discount')

In [ ]:
# score = int(input('Enter score: '))
score = 20

if score > 35: print('pass')
else: print('fail')

In [ ]:
score = 20
print('pass') if score > 35 else print('fail')

In [ ]:
score = 45
print('pass') if score > 35 else print('fail')

In [ ]:
score = 20
status = 'pass' if score > 35 else 'fail'
status

In [ ]:
score = 45
status = 'pass' if score > 35 else 'fail'
status

### Quiz
Suppose that the value of a variable `customer_type` is `'new'` and the value of a variable `customer_income` is `3267678`. Store these values in the right variables and then write `if-else` statements to check whether the customer is a new customer and whether their income is above $4500000$ INR. If so, then print the statement `'target for business loan'`. If not, then print `'explore opportunities other than for business loans'`

In [ ]:
### YOUR CODE HERE ###

## The `if-elif-else` statement
The command `elif` means "else if" and is used to check multiple conditions. It comes after an initial `if` statement and before the optional `else` statement.

### Example
Creating `if-elif-else` statements

In [ ]:
current_color = 'green'

if current_color == 'red': print('stop')
elif current_color == 'yellow': print('wait')
elif current_color == 'green': print('go')
else: print('invalid colour')

In [ ]:
# sales = int(input('Enter monthly sales units: '))
sales = 54

if sales >= 100: print('excellent')
elif sales >= 50 and sales < 100: print('good')
elif sales >= 25 and sales < 50: print('acceptable')
else: print('bad')

In [ ]:
# sales = int(input('Enter monthly sales units: '))
sales = 54

if sales >= 100: print('excellent')
elif sales >= 50 and sales <= 99: print('good')
elif sales >= 25 and sales <= 49: print('acceptable')
else: print('bad')

### Quiz
Write `if-elif-else` statements for the following set of rules on a variable called `attendance`:
- If attendance is perfect ($30$ days), label the employee as `outstanding`
- If attendance is between $25$ and $29$ days (inclusive), label the employee as `satisfactory`
- If attendance is between $20$ and $24$ days (inclusive), label the employee as `fair`
- If attendance is below $20$ days, label the employee as `poor`

In [ ]:
### YOUR CODE HERE ###

## Nested `if` statements
Nested `if` statements involve placing one `if` statement inside another. They are useful when you need to check multiple conditions, and the execution of one condition depends on the outcome of another.

### Example
Creating nested `if` statements

In [ ]:
# credit_score = int(input('Please enter your credit score: '))
# income = int(input('Please enter your income: '))
credit_score = 450
income = 60000
if credit_score >= 700:
    if income >= 50000:
        print('credit card appoved')
    else:
        print('insufficient income')
else: print('low credit score')

In [ ]:
# credit_score = int(input('Please enter your credit score: '))
# income = int(input('Please enter your income: '))
credit_score = 450
income = 60000
print_text = 'credit card approved'
if credit_score < 700: print_text = 'low credit score'
elif income < 50000: print_text = 'insufficient income'
print(print_text)

In [ ]:
# user_location = input('Please enter your location: ')
# payment_method = input('Please enter your payment method: ')
# is_credit_card_valid = input('Is your credit card valid: ')
user_location = 'local'
payment_method = 'credit_card'
is_credit_card_valid = 'yes'
if user_location == 'local':
    if payment_method == 'credit card':
        if is_credit_card_valid == 'yes':
            print('Your order is processed successfuly!')
        else:
            print('Sorry, your credit card is invalid.')
    else:
        print('Your order is processed successfuly!')
elif user_location == 'international':
    print('Please provide other payment method.')

### Quiz
Write nested `if` statements for the following set of rules on two variables called `Python_Skill` and `Math_Skill`:
- If skill in Python is `'good'` and skill in math is `'good'`, then print `'recommend advanced data structures topics'`
- If skill in Python is `'good'` and skill in math is not `'good'`, then print `'recommend application development topics'`
- If skill in Python is not `'good'` and skill in math is `'good'`, then print `'recommend data analytics tools topics'`
- If skill in Python is not `'good'` and skill in math is not `'good'`, then print `'recommend other topics'`

In [ ]:
### YOUR CODE HERE ###

## The `match-case` statement
The `match-case` statement in Python provides a more flexible way to perform pattern matching. The `match-case` statement was introduced in Python 3.10.

### Example
Creating `match-case` statements

In [5]:
order_type = 'online'
match order_type:
    case 'online':
        print('process online order')
    case 'in-store':
        print('process in-store order')
    case 'phone':
        print('process phone order')
    case _:
        print('invalid order type')

invalid order type

In [7]:
expense_category = 'Groceries'

match expense_category:
    case 'Groceries' | 'Utilities': 
        print('Essential expense')
    case 'Dining out' | 'Entertainment': 
        print('Non-essential expense')
    case _: 
        print('Other expense')

Essential expense

# The `while` loop
While loops are used to execute a block of statements repeatedly until a given condition is satisfied

## Creating while loops

### Example
Interaction between `while` loops and Boolean conditions

In [9]:
while 0: 
    print('This will not be printed even once.')

In [11]:
while False: 
    print('This will not be printed even once.')

In [13]:
# while 1: print('This will be printed infinite times.')

In [ ]:
# while True: print('This will be printed infinite times.')

### Example
Creating `while` loops with Boolean conditions

In [ ]:
count = 5
while count > 0:
    count = count -1
    print(count)

In [ ]:
count = 0
while count < 10:
    count += 1
    print('This is statement number', count)

In [ ]:
# user_input = input("Enter a sentence: ")
user_input = 'python'
index = 0
while index < len(user_input):
    print('character:', user_input[index])
    index += 1

### Example
Creating `while` loops with conditions and `break` statements

In [ ]:
is_running = True
count = 0
while is_running:
    print('This is statement number', count)
    count += 1
    if count >= 5:
        is_running = False

In [ ]:
a = 0
while True:
    a += 1
    if a > 4: break
    print('The value of the variable a =', a)

In [ ]:
temperature = 0
while True:
    temperature = temperature + 1
    if temperature > 15:
        print('the machine is heating up')
        break
    print('the machine is performing nominally')

### Example
Creating nested `while` loops

In [ ]:
row = 1
while row <= 3:
    col = 1
    while col <= 3:
        print(f'({row}, {col})')
        col += 1
    row += 1

## Using `while` loops to iterate over sequences

### Example
Creating `while` loops with string conditions

In [ ]:
word = 'python'
while word: print(word); word = word[1:]

### Example
Creating `while` loops with `list` conditions

In [ ]:
while_list = ['Amanda', 'Bhushan', 'Chitra', 'Damian', 'Eshan']
while while_list: print(while_list.pop())

In [ ]:
while_list

In [ ]:
# while_list = ['Amanda', 'Bhushan', 'Chitra', 'Damian', 'Eshan']
# while while_list: print('Why did you do this?')

### Example
Creating `while` loops on iterables with `break` conditions

In [2]:
shopping_list = ['apple', 'banana', 'chocolate', 'milk']
item_to_find = 'orange'

while shopping_list:
    item = shopping_list.pop()
    if item == item_to_find:
        print(f'{item_to_find} found in the shopping list')
        break
else:
    print(f'{item_to_find} not found in the shopping list')

orange not found in the shopping list

In [ ]:
shopping_list

### Quiz
You are working on a program that needs to display a countdown from 10 to 1, followed by the message "Liftoff!". Use a while loop to implement this countdown. Write the Python code to achieve this.

In [ ]:
### YOUR CODE HERE ###

# The `for` loop
`for` loops are used to iterate over iterables

## Creating `for` loops

### Example
Creating `for` loops with `lists` and other iterables

In [3]:
names = ['Aravind', 'Charlie', 'Dinesh', 'Parveen', 'Ram', 'Subhadra', 'Zareena']
for name in names: print(name)

Aravind
Charlie
Dinesh
Parveen
Ram
Subhadra
Zareena

In [4]:
names = ('Aravind', 'Charlie', 'Dinesh', 'Parveen', 'Ram', 'Subhadra', 'Zareena')
for name in names: print(name)

Aravind
Charlie
Dinesh
Parveen
Ram
Subhadra
Zareena

In [ ]:
names = {'Aravind', 'Charlie', 'Dinesh', 'Parveen', 'Ram', 'Subhadra', 'Zareena'}
for name in names: print(name)

In [5]:
names = {'Aravind': 26765, 'Charlie': 34431, 'Dinesh': 65587, 'Parveen': 45809,
         'Ram': 87987, 'Subhadra': 54019, 'Zareena': 21298}
for name in names: print(name)

Aravind
Charlie
Dinesh
Parveen
Ram
Subhadra
Zareena

In [6]:
names = {'Aravind': 26765, 'Charlie': 34431, 'Dinesh': 65587, 'Parveen': 45809,
         'Ram': 87987, 'Subhadra': 54019, 'Zareena': 21298}
for name in names.keys(): print(name)

Aravind
Charlie
Dinesh
Parveen
Ram
Subhadra
Zareena

In [ ]:
names = {'Aravind': 26765, 'Charlie': 34431, 'Dinesh': 65587, 'Parveen': 45809,
         'Ram': 87987, 'Subhadra': 54019, 'Zareena': 21298}
for val in names.values(): print(val)

In [7]:
names = {'Aravind': 26765, 'Charlie': 34431, 'Dinesh': 65587, 'Parveen': 45809,
         'Ram': 87987, 'Subhadra': 54019, 'Zareena': 21298}
for item in names.items(): print(item)

('Aravind', 26765)
('Charlie', 34431)
('Dinesh', 65587)
('Parveen', 45809)
('Ram', 87987)
('Subhadra', 54019)
('Zareena', 21298)

In [ ]:
for i in range(5): print('Current value =', i)

In [ ]:
for _ in range(5): print('This will be printed 5 times.')

In [ ]:
num_list = [0, 2, 4, 6, 8, 10]
for num in num_list: print(num * 100)

In [ ]:
word = 'Python'
for char in word: print(char)

### Example
Creating nested `for` loops

In [ ]:
for i in range(1, 4):
    for j in range(1, 4):
        print(f'{i} * {j} = {i * j}')

### Example
Creating `for` loops with conditionals and `break` statements

In [ ]:
for n in range(0, 16, 2):
    if n <= 6: print('first half')
    else: print('second half')

In [ ]:
names = {'Aravind': 26765, 'Charlie': 34431, 'Dinesh': 65587, 'Parveen': 45809,
         'Ram': 87987, 'Subhadra': 54019, 'Zareena': 21298}
required_name = 'Dinesh'
for name in names.keys():
    if name == required_name:
        print(f'The employee {name} has a compensation of {names[name]}')
        break

In [ ]:
# search_item = input('Please enter search item: ')
search_item = 'camera'
products = ['laptop', 'phone', 'tablet', 'printer', 'camera']

for product in products:
    if product == search_item:
        print(f'{search_item} found in inventory')
        break
else:
    print(f'{search_item} not found in inventory')

### Quiz
Consider the following list of user ratings of a product on a scale of 1 to 10:
```
ratings_list = [2, 7, 4, 8, 4, 3, 9, 2, -1, 9, 3, 0, 4, 2, -2, -3, 5, 4, 8, 9]
```
Some of these ratings are invalid. Use `for` loop statements with conditionals and `break` statememnts to find the index of the first occurence of an invalid rating.

In [ ]:
### YOUR CODE HERE ###

### Example
Using `for` loops to iteratively compute over variables

In [ ]:
total_sales = 0
sales_values = {'Q1': 15546, 'Q2': 17623, 'Q3': 21109, 'Q4': 18972}
for val in sales_values.values():
    total_sales += val
total_sales

### Example
Using `continue` statements in `for` loops with conditionals to loop back to the beginning instead of breaking

In [ ]:
names = ('Aravind', 'Charlie', 'Rohit', 'Dinesh', 'Parveen', 'Ram', 'Subhadra', 'Zareena', 'Rahul')
for name in names:
    if name[0] == 'R':
        print(f'The name {name} starts with the letter R')
        continue
    print(f'The name {name} does not start with the letter R')

### Example
Using `pass` statements in `for` loops with conditionals as placeholders

In [ ]:
names = ('Aravind', 'Charlie', 'Rohit', 'Dinesh', 'Parveen', 'Ram', 'Subhadra', 'Zareena', 'Rahul')
for name in names:
    if name[0] == 'R': pass
    else: print(f'The name {name} does not start with the letter R')