In [4]:
# list  = []
# tuple = ()
# dict  = {'key':'val'}

In [5]:
# Name  | Class --> keys
# ---------------
# Pham  | 10
# sonam | 11
# sonal | 12
# Naman | Grad

# Value | Value

# Dictionaries and Sets

## Dictionaries

A [dictionary](https://docs.python.org/3.7/tutorial/datastructures.html#dictionaries) or dict is an object that maps a set of named indexes called keys to a set of corresponding values. Dictionaries are mutable, so you can add and remove keys and their associated values. A dictionary's keys must be immutable objects, such as ints, strings or tuples, but the values can be anything.

Create a dictionary with a comma-separated list of key: value pairs within curly braces:

In [6]:
my_dict = {"name": "Joe",
           "age" : 10, 
           "city": "Paris"}

print(my_dict)

{'name': 'Joe', 'age': 10, 'city': 'Paris'}

In [8]:
# my_dict[0] #not working

In [9]:
my_dict['name']

'Joe'

In [10]:
my_dict['age']

10

In [11]:
my_dict['city']

'Paris'

In [12]:
dit = {"name": ["Joe","upgrad"],
       "age" : [10,20], 
       "city": ["Paris","mumbai"]}

print(dit)

{'name': ['Joe', 'upgrad'], 'age': [10, 20], 'city': ['Paris', 'mumbai']}

In [15]:
dit["name"]

['Joe', 'upgrad']

In [16]:
dit["name"][0]

'Joe'

Add new items to an existing dictionary with the following syntax:

In [17]:
my_dict

{'name': 'Joe', 'age': 10, 'city': 'Paris'}

In [18]:
my_dict["country"] = "France"
print(my_dict)

{'name': 'Joe', 'age': 10, 'city': 'Paris', 'country': 'France'}

Delete existing key: value pairs with del:

In [19]:
del my_dict["country"]
print(my_dict)

{'name': 'Joe', 'age': 10, 'city': 'Paris'}

Check the number of items in a dict with len():

In [20]:
my_dict

{'name': 'Joe', 'age': 10, 'city': 'Paris'}

In [21]:
len(my_dict)

3

Check whether a certain key exists with "in":

In [22]:
my_dict

{'name': 'Joe', 'age': 10, 'city': 'Paris'}

In [24]:
"Age" in my_dict
# python is a case sensitive language

False

In [25]:
'age' in my_dict

True

You can access all the keys, all the values or all the key: value pairs of a dictionary with the keys(), value() and items() functions respectively:

In [26]:
my_dict

{'name': 'Joe', 'age': 10, 'city': 'Paris'}

In [27]:
my_dict.keys()

dict_keys(['name', 'age', 'city'])

In [28]:
my_dict.values()

dict_values(['Joe', 10, 'Paris'])

In [29]:
my_dict.items()

dict_items([('name', 'Joe'), ('age', 10), ('city', 'Paris')])

Real world data often comes in the form tables of rows and columns, where each column specifies a different data feature like name or age and each row represents an individual record. We can encode this sort of tabular data in a dictionary by assigning each column label a key and then storing the column values as a list.

Consider the following table:

name  &nbsp; &nbsp;&nbsp;age      &nbsp;&nbsp;&nbsp;city  <br>
Joe  &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;10     &nbsp;&nbsp;&nbsp;&nbsp; Paris <br>
Bob   &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;15     &nbsp; &nbsp;&nbsp;&nbsp;New York <br>
Harry  &nbsp;&nbsp; &nbsp;20      &nbsp;&nbsp;&nbsp; Tokyo

## Sets

Sets are unordered, mutable collections of immutable objects that cannot contain duplicates. Sets are useful for storing and performing operations on data where each value is unique.
Create a set with a comma separated sequence of values within curly braces:

In [ ]:
# [] --> list
# () --> tuple
# {key:value} --> dict
# {} --> set

In [32]:
# 3 properties:
# Always ordered!
# CANNOT contain duplicate values!
# DO NOT support indexing!

In [35]:
myset = {3,4,5,6,7,9,10,1,2,3,3,3,3,3}

In [36]:
myset

{1, 2, 3, 4, 5, 6, 7, 9, 10}

In [37]:
myset[0]

TypeError: 'set' object is not subscriptable

Add and remove items from a set with add() and remove() respectively:

In [38]:
myset

{1, 2, 3, 4, 5, 6, 7, 9, 10}

In [39]:
myset.add(8)
myset

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [40]:
myset.remove(7)
myset

{1, 2, 3, 4, 5, 6, 8, 9, 10}

One of the main purposes of sets is to perform set operations that compare or combine different sets. Python sets support many common mathematical set operations like union, intersection, difference and checking whether one set is a subset of another:

In [41]:
set1 = {1,3,5,6}
set2 = {1,2,3,4}

set1.union(set2)          # Get the union of two sets

{1, 2, 3, 4, 5, 6}

In [42]:
set1.intersection(set2)   # Get the intersection of two sets

{1, 3}

In [43]:
set1 = {1,2}
set2 = {1,2,3,4}

In [44]:
set1.issubset(set2)

True

In [45]:
set1 = {1,2,1000}
set2 = {1,2,3,4}

In [46]:
set1.issubset(set2)

False