# Python basics
This section covers the foundational aspects of Python programming, including how to declare variables, basic arithmetic operations, and the fundamental concepts needed to start coding in Python.

### Example
Creating variables

In [ ]:
1+2

In [ ]:
print(1)

a = 1

In [ ]:
print(a)

In [ ]:
a

In [ ]:
b = 2

In [ ]:
print(b)

In [ ]:
b

In [ ]:
b = a

In [ ]:
b

In [ ]:
# print(y)

In [ ]:
y = 100
y

In [ ]:
z = 10
print(z)

In [ ]:
l = 'A'

In [ ]:
l

In Python, literals are used to represent fixed values in your source code. They are constants that represent specific values, and they are used to initialize variables or to specify values directly in your code. For example, `1`, `'A'`, `10` and so on.

Note that you will learn about the different types of literals (data types) you can store in variables in the upcoming sections.

### Example
Rules to follow for naming variables

* A variable name cannot contain spaces
* A variable name cannot start with a digit
* A variable name can only contain alpha-numeric characters and underscores (`a-z, A-Z, 0-9, and _ `)
* The variable name cannot be any keywords
* Variable names are case-sensitive

In [ ]:
age = 25

In [ ]:
age

In [ ]:
Age = 26

In [ ]:
Age

In [ ]:
Age == age

In [ ]:
# my age = 25

In [ ]:
# my-age = 25

In [ ]:
# my:age = 25

In [ ]:
# print(my:age)

In [ ]:
my_age = 25

In [ ]:
my_age

In [ ]:
# 2nd_place = 'Manoj'

In [ ]:
place_2nd = 'Akhil'

In [ ]:
place_2nd

In [ ]:
# &var = 'no'

In [ ]:
_var = 'yes'

In [ ]:
_var

In [ ]:
# break = 'Sunday'

In [ ]:
count = 5.5

In [ ]:
# Count

In [ ]:
count

### Example
Getting user inputs using the `input()` function

In [ ]:
name = 'Umang'

In [ ]:
name = input("Enter your name:")

In [ ]:
name

In [ ]:
age = input('Enter your age: ')

In [ ]:
age

In [ ]:
name, age

### Quiz
Create two separate variables to accept users' name and the country they are from

In [ ]:
##### CODE HERE #####
name = input()
age = int(input())

In [ ]:
type(name)

In [ ]:
type(age)

### Example
Printing values using the `print()` function

In [ ]:
print('Hello!')

In [ ]:
print(10)

In [ ]:
name = 'Alex'
print(name)

In [ ]:
age = 22
print('Age: ', age)

### Example
The `import` command

In [ ]:
sqrt(4)

In [ ]:
import math

In [ ]:
x = 100

In [ ]:
a = math.sqrt(x)

In [ ]:
a

In [ ]:
log(10)

In [ ]:
from math import sqrt

In [ ]:
math.

In [ ]:
sqrt_of_x = sqrt(100)
sqrt_of_x

In [ ]:
from math import *

In [ ]:
pi

In [ ]:
name

In [ ]:
import time

In [ ]:
import math as umang

In [ ]:
umang.sqrt(100)

In [ ]:
math.sqrt(100)

### Example
In the below example, the `math` module is used to import the `log()` function for computing the natural logarithms.

You can also import `e` from the `math` package. Look at the documentation of the `math` library [here](https://docs.python.org/3/library/math.html).

In [ ]:
from math import log

In [ ]:
log(10)

In [ ]:
log(2.71)

In [ ]:
from math import e,pi,inf

In [ ]:
log(e)

### Example
Importing packages under different names

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from datetime import datetime as dt

In [ ]:
import datetime

In [ ]:
print('The current date and time is:', current_datetime)

### Example
Comments are used to annotate code and provide additional information. Comments are not executed by the Python interpreter

In [ ]:
#

In [ ]:
# this is a comment and it will not be interepreted

In [ ]:
# importing the 'math' module
import math

In [ ]:
b = 3

In [ ]:
'''
This is a multi-line comment
The value of 'b' is printed by the variable
'''
b

# Python data types
This section introduces the different data types available in Python, such as integers, floats, strings. It explains how to work with these data types and perform various operations on them.

### Example
Integers

In [ ]:
x = 20
x

In [ ]:
type(x)

In [ ]:
y = -4
y

In [ ]:
type(y)

### Example
Float variables

In [ ]:
my_float = 10.00000
my_float

In [ ]:
type(my_float)

In [ ]:
my_float = -5.45
my_float

In [ ]:
type(my_float)

In [ ]:
my_float = 0.404
my_float

In [ ]:
type(my_float)

In [ ]:
x = -1000000000.0
x

In [ ]:
type(x)

In [ ]:
x = -1_000_000_000.0
x

In [ ]:
type(x)

### Example
Strings

In [ ]:
my_string = '1'

In [ ]:
my_string

In [ ]:
type(my_string)

In [ ]:
my_string = 'abcd'
my_string

In [ ]:
type(my_string)

In [ ]:
my_str = '100'
my_str

In [ ]:
type(my_str)

In [ ]:
my_str = '30.03'
my_str

In [ ]:
type(my_str)

In [ ]:
my_str = "\
This is a string \n this is a 2nd string \
aabdnkjnsd"
print(my_str)

In [ ]:
type(my_str)

In Python, you can use either single quotes (`'`) or double quotes (`"`) to define strings. Both options are valid, and you can choose the one that suits your preference. Throughout this notebook, we will be using single quotes (`'`) to work with strings.

### Example
Typecasting using the `int()` function

In [ ]:
my_str = '123.5'
my_str

In [ ]:
type(my_str)

In [ ]:
my_int = int(float(my_str))
my_int

In [ ]:
type(my_int)

In [ ]:
my_float = '2.17'

In [ ]:
my_int = float(my_float)
my_int

Attempting to convert the string `'2.17'` directly to an integer using `int('2.17')` will result in a ValueError because `'2.17'` is not a valid integer string. The `int()` function in Python is used to convert a numeric string to an integer, but the string must represent a whole number.

In [ ]:
# my_int = int('abc')

Note that when typecasting a `float` data type into an `int` data type, Python will disregard the fraction part of the floating point number and only consider the whole number part

### Example
Typecasting using the `float()` function

In [ ]:
my_int = 8

In [ ]:
my_int

In [ ]:
type(my_int)

In [ ]:
my_float = float(my_int)

In [ ]:
my_float

In [ ]:
type(my_float)

In [ ]:
my_data = '97.1'

In [ ]:
my_float = float(my_data)

In [ ]:
my_float

In [ ]:
type(my_float)

Note that the `float()` function in Python can be used to convert a string containing a numeric representation, such as `'97.1'`, into a floating-point number

In [ ]:
my_data = '98.76'

In [ ]:
# int(my_data)

In [ ]:
float(my_data)

In [ ]:
int(float(my_data))

### Example

Converting the string `'45.6778'` into a float

In [ ]:
float('45.6778')

### Example
Typecasting using the `str()` function

In [ ]:
my_int = 1000

In [ ]:
my_int

In [ ]:
type(my_int)

In [ ]:
my_str = str(my_int)

In [ ]:
my_str

In [ ]:
type(my_str)

In [ ]:
my_bool = True

In [ ]:
my_bool

In [ ]:
type(my_bool)

In [ ]:
my_str = str(my_bool)

In [ ]:
my_str

In [ ]:
type(my_str)

### Example
Typecasting using the `bool()` function

In [ ]:
my_int

In [ ]:
type(my_int)

In [ ]:
my_bool = bool(my_int)

In [ ]:
my_bool

In [ ]:
type(my_bool)

In [ ]:
my_int = 0.0000001

In [ ]:
my_bool = bool(my_int)
my_bool

In [ ]:
type(my_bool)

In [ ]:
my_bool = bool(-1)
my_bool

In [ ]:
my_bool = bool(3.333)
my_bool

In [ ]:
my_bool = bool('Hello')
my_bool

In [ ]:
bool(-24.5)

In [ ]:
bool('Hello')

In [ ]:
bool(' ')

### Example
Typecasting user inputs

In [ ]:
my_age = '24'

In [ ]:
type(my_age)

In [ ]:
# my_age = input('Enter your age: ')

In [ ]:
type(my_age)

The age is currently stored as a string value. But for further processing, we might want the number to be an integer.

In [ ]:
my_age = int(input('Enter your age: '))

In [ ]:
my_age, type(my_age)

### Quiz
Take a number from a user input and store it as a float

In [ ]:
my_bool = True

In [ ]:
type(my_bool)

In [ ]:
##### CODE HERE #####
my_age = int(input('Enter your age: '))

# Python operators
This section covers the various operators available in Python, including arithmetic operators, comparison operators, logical operators, and bitwise operators. Each type of operator is explained with examples to demonstrate how they are used in Python programming.

### Example
The `+` operator

In [ ]:
1 + 1

In [ ]:
2 + 34

In [ ]:
1 + 2 + 3 + 4 + 5 + 6

In [ ]:
num = 13

In [ ]:
num + 3

In [ ]:
a = 100
b = 200

In [ ]:
sum = a + b

In [ ]:
sum

In [ ]:
x = 3.3
y = 2.7

In [ ]:
sum = x + y
sum

In [ ]:
my_int = 3.9
my_float = 6

**Coercion** in programming refers to the implicit or explicit conversion of one data type to another. This allows operations to be performed on mixed data types by converting one type to another compatible type.

In [ ]:
my_sum = my_int + my_float

In [ ]:
my_sum

In [ ]:
type(my_sum)

Note that In Python, when you perform arithmetic operations involving an `int` and a `float`, the result is always a `float`. This behavior is part of the language's rules for numeric **coercion**, where operations between different numeric types yield a result of the more general or precise type.

In [ ]:
my_str = 'aman'
my_int = 10
my_float = 14.2

In [ ]:
sum = my_str + my_int

In [ ]:
sum = my_str + my_float

In [ ]:
str_1 = 'aman'
str_2 = 'umang'

In [ ]:
result = str_1 + str_2

In [ ]:
result

Notice that when peforming addition on two strings, the result is a string joining the initial strings. This operation is called **concatenation**. We say the two strings are concatenated.

In [ ]:
str_1 = 'Hello'
str_2 = 'There!'

In [ ]:
str_1 + str_2

In [ ]:
str_1 + ' ' + str_2

Notice that we have used the `+` operator to add numbers and similarly to perform concatenation, that is, joining two strings. This phenomenon where we are able to define custom behaviors for operators when applied to objects of our own classes is called **operator overloading**. In other words, operator overloading lets you teach Python what to do when you use math symbols like `+`, `*` with your own special objects.

### Example
The `-` operator

In [ ]:
3 - 1

In [ ]:
100 - 30

In [ ]:
x = 25
y = 4

In [ ]:
diff = x - y
diff

In [ ]:
x = 3.4
y = 2

In [ ]:
diff = x - y
diff

In [ ]:
x = 10
y = 3.8

In [ ]:
diff = x - y
diff

In [ ]:
my_str = 'a'
my_int = 2

In [ ]:
diff = my_str - my_int
diff

In [ ]:
my_str - 5.0

In [ ]:
str_1 = 'aman'
str_2 = 'umang'

In [ ]:
str_1 - str_2

### Example
The `*` operator

In [ ]:
2 * 2

In [ ]:
4 * -30

In [ ]:
3.3 * -1.1

In [ ]:
x = 14
y = 3

In [ ]:
prod = x * y
prod

In [ ]:
x = 0.4
y = 1.6

In [ ]:
p = x * y
p

In [ ]:
my_str = 'umang '
my_int = 5

In [ ]:
prod = my_str * my_int

In [ ]:
prod

Note that in Python, you can perform multiplication between a string and an integer. When you multiply a string by an integer, it creates a new string by repeating the original string multiple times. However, if you try to multiply a string by a non-integer, such as a float, you will encounter an error.

In [ ]:
# 'hello' * 5.1

In [ ]:
'hello' * 5

In [ ]:
'hi' * 0

### Example
The `**` operator

In [ ]:
2 ** 1

In [ ]:
4 ** 2

In [ ]:
x = 9
y = 2

In [ ]:
res = x ** y

In [ ]:
res

In [ ]:
2.0 ** 3

In [ ]:
x = 5.3 * 5.3 * 5.3 * 5.3
x

In [ ]:
res = 5.3 ** 4

In [ ]:
res

In [ ]:
from math import pow
res = pow(5.3, 4)
res

In [ ]:
4 ** 0.5

In [ ]:
x = 10
y = 0.33

In [ ]:
res = x ** y
res

In [ ]:
my_str = 'a'
my_int = 2

In [ ]:
my_str ** my_int

### Quiz
Consider an arithmetic progression (AP) and a geometric progression (GP). For both the AP and the GP, suppose that the first term is $a=2$. For the AP, suppose that the common difference is $d=3$. For the GP, suppose that the common ratio is $r=3$. Find the sum of the sixth term of the AP and the third term of the GP.

**Hint:** Formula for the $n_{th}$ term of an AP is $a_{n}=a+(n-1)d$ and the formula for the $n_{th}$ term of a GP is $a_{n}=ar^{n-1}$.

In [ ]:
##### CODE HERE #####
a = 2
d = 3
r = 3

n_ap = a + 5*d
n_gp = a * (r**2)

print(n_ap + n_gp)

### Example
The `/` operator

In [ ]:
4 / 2

In [ ]:
12.0 / 3

In [ ]:
4 / 0

In [ ]:
x = 10
y = 2

In [ ]:
quot = x / y
quot

In [ ]:
my_str = 'a'
my_int = 2

In [ ]:
my_str / my_int

In [ ]:
math.floor(8 / 3)

In [ ]:
7 / 3

In [ ]:
7 // 3

In [ ]:
7 % 3

In [ ]:
num = 4

if num % 2 == 0:
    print ("number is even")
else:
    print("number is odd")

Notice that we have used `//` instead of `/` here.The `//` operator in Python is used for floor division. It divides the left operand by the right operand and returns the largest integer that is less than or equal to the result.

In [ ]:
x = 20
y = 6

In [ ]:
quot = x / y
quot

In [ ]:
quot = x // y
quot

In [ ]:
20 % 3

### Example
The `%` operator

In [ ]:
5 % 2

In [ ]:
40 % 2

In [ ]:
x = 14
y = 3

In [ ]:
rem = x % y
rem

In [ ]:
x = 13.2
y = 4

In [ ]:
rem = x % y
rem

In [ ]:
x = 1444
y = 12

In [ ]:
x % y

### Example
Equality operator

In [ ]:
1 == 1

In [ ]:
'a' == 'a'

In [ ]:
4 == 4.0

In [ ]:
a = 10

In [ ]:
type(10 == 11)

In [ ]:
30 - 20 == 1000 - 990

### Example
The following examples demonstrate the use of the symmetric inequality operator `!=` in Python, which checks if two values are not equal. If the values are not equal, the expression evaluates to `True`; otherwise, it evaluates to `False`.

In [ ]:
5 != 4

In [ ]:
10 != 100 / 10

In [ ]:
'world' != 'w0rld'

### Quiz
Check whether `int(float(14.56))` and `44//3` are equal

In [ ]:
int(14.56)

In [ ]:
44//3

In [ ]:
##### CODE HERE #####
int(float(14.56)) == 44//3

### Example
Asymmetric inequalities

In [ ]:
50 > 49

In [ ]:
'a' > 'b'

In [ ]:
'b' > 'a'

Note that in Python, when you compare characters, the comparison is based on their Unicode code points. You will gain more insight on comparisons based on lexicographical (dictionary) order in coming weeks.

In [ ]:
40.0 > 40

In [ ]:
# 'a' > 65

In [ ]:
100.02 < 100.01

In [ ]:
6 <= 6

In [ ]:
1350 >= 1300

In [ ]:
45.0 <= 45

### Example
Let's see between `int(float(14.56))` and `44/3`, which one is larger

In [ ]:
int(float(14.56)) > 44/3

### Example
The `or` operator

In [ ]:
True or True

In [ ]:
True or True or True

In [ ]:
True or False

In [ ]:
True or True or False

In [ ]:
False or True

In [ ]:
False or False

The `or` operator in Python is a logical operator used for Boolean expressions. It returns `True` if at least one of the conditions being compared evaluates to `True`. It returns `False` only if all the conditions are `False`. The or operator short-circuits, meaning it stops evaluating expressions as soon as it encounters the first `True` condition.

In [ ]:
5 > 3 or 2 < -1

In [ ]:
1 >= 2 or 3 <= 2.9

In [ ]:
'Hello' == 'Hello' or 'India' == 'Indiana'

### Example
The `and` operator

In [ ]:
True and True and False and True

In [ ]:
True and False

In [ ]:
False and True

In [ ]:
False and False

The `and` operator in Python is a logical operator used for Boolean expressions. It returns `True` only if all the conditions being compared evaluate to `True`. If any of the conditions is `False`, the result will be `False`. The and operator short-circuits, meaning it stops evaluating expressions as soon as it encounters the first `False` condition.

In [ ]:
4 < 5 and 10 > 2

In [ ]:
10.3 > 23 and 5 > -1

In [ ]:
110 % 100 > 5 and 6 <= -1

In [ ]:
'India' == 'Indiana' and len('Hello') > 6

### Example
The `not` operator

In [ ]:
not True

In [ ]:
not False

In [ ]:
(not True) or False

In [ ]:
not (True or False)

In [ ]:
not(True or False)

In [ ]:
not False or True

In [ ]:
True or not False

The `not` operator in Python is a logical operator used to negate the truth value of a Boolean expression. It returns `True` if the given expression is `False`, and `False` if the expression is `True`.

In [ ]:
not(5 > 3)

In [ ]:
not(10.0 > 10 or 5 > 3)

In [ ]:
not('India' == 'Indiana' and 110 % 100 == 10)

### Quiz
Consider the following logical statements:
```
'Hi' == 'Hello' and 25 > 13
'Hi' != 'Hello' and 255 > 133
'Hi' == 'Hello' or 25 > 13
not('Hi' == 'Hello') and 25 > 13
not(('Hi' != 'Hello') or 255 < 133)
```
Which of these statements is logically true? Execute them individually and see.

In [ ]:
##### CODE HERE #####
print('Hi' == 'Hello' and 25 > 13)
print('Hi' != 'Hello' and 255 > 133)
print('Hi' == 'Hello' or 25 > 13)
print(not('Hi' == 'Hello') and 25 > 13)
print(not(('Hi' != 'Hello') or 255 < 133))

### Example
Parentheses can be used to change the order of operations in an expression. Operator precedence in Python is as follows: `not` > `and` > `or`. Below are examples showing how parentheses affect the result.

In [ ]:
True or False and False

In [ ]:
(True or False) and False

In [ ]:
not False and False

In [ ]:
not(False and False)

You are encouraged to experiment with operator precedence further. You will encounter various situations where right operator precedence in code is necessary for your code to run properly.

<markup> **Bitwise operators**

You can refer to this link for to learn about bitwise operator
[https://realpython.com/python-bitwise-operators/](https://)

# Strings
This section focuses on string manipulation in Python. It covers how to use different types of quotes, escape characters, and perform operations such as formatting.

## String formatting

### Example
Using the `f'{}'` expression to format strings

In [1]:
name = 'Bob'
age = 30

In [3]:
print(name)

Bob

In [5]:
print(age)

30

In [15]:
print("My name is umang")

My name is umang

In [19]:
name = input("Enter your name: ")
print(f'Hello {name} !! How are you doing?')

Enter your name:  Aman

Hello Aman !! How are you doing?

In [9]:
print("My name is", name, "and I am", age, "years old.")

My name is Bob and I am 30 years old.

In [41]:
print(f'My name is "{name}"    ')

My name is "Aman"

In [ ]:
'My name is Aman'

In [13]:
f"My name is {name}"

'My name is Bob'

In [ ]:
f'I am {age} years old.'

In [43]:
f'My name is {name} and I am {age} years old.'

'My name is Aman and I am 30 years old.'

### Example
Using the `.format()` method to format strings

In [45]:
name = 'Bob'
age = 30

In [51]:
print('My name is {} '.format(name))

My name is Bob

In [53]:
type('My name is {x} ')

str

In [ ]:
'My name is {x} '.format(x = name)

In [ ]:
'I am {} years old.'.format(age)

In [127]:
age = 30.000

In [129]:
'I am {x} years old.'.format(x = age)

'I am 30.0 years old.'

In [ ]:
# 'I am {x} years old.'.format(y = age)

In [69]:
'My name is {} and I am {} years old. {} {}'.format(name, name, 2, 3)

'My name is Bob and I am Bob years old. 2 3'

In [49]:
'My name is {x} and I am {y} years old.'.format(y = age, x = name)

'My name is Bob and I am 30 years old.'

In [67]:
'My name is {0} and I am {0} years old.'.format(name, age)

'My name is Bob and I am Bob years old.'

### Example
Using the `%` operator to format strings

In [ ]:
# str_output = 'The human population on planet %d is about %f billion individuals' % ('Earth', 8)
# str_output

In [89]:
Earth = "Earth"

In [93]:
str_output = 'The human population on planet %s \
is about %d billion individuals' % (Earth, 8)
str_output

'The human population on planet Earth is about 8 billion individuals'

In [95]:
name = 'Bob'
age = 30
city = 'Bengaluru'

In [97]:
'My name is %s' % (name)

'My name is Bob'

In [115]:
'I am %d years old' % (age)

'I am 30 years old'

In [131]:
'I am %.4f years old' % (age)

'I am 30.0000 years old'

In [ ]:
# 'I am %y years old' % (age)

In [113]:
'I live in %s' % (city)

'I live in Bengaluru'

The `%` operator is used for different types of formatting of values. For example, `%d` is used to display a value as an integer, `%f` is used to display a value as a floating point number, and `%s` is used to display a value as a string. You should study the other available `%` operators and their uses. Try querying an LLM for more information.

In [ ]:
'My name is %s, I am %d years old, and I live in %s.' % (name, age, city)

## Escape sequences and characters

### Example
Using `'\n'` to create a new line

In [143]:
fruits = 'Apple\nOrange\nBanana\nAvocado'
print(fruits)
a = 5

Apple
Orange
Banana
Avocado

In [145]:
fruits = 'Apple\tOrange\tBanana\tAvocado'
print(fruits)

Apple	Orange	Banana	Avocado

In [137]:
print(fruits)

Apple
Orange
Banana
Avocado

### Example
Printing quotation marks

In [151]:
print("It's raining outside.")

It's raining outside.

In [153]:
print('He said, "Python is awesome!"')

He said, "Python is awesome!"

In [155]:
'It's raining outside.'

SyntaxError: unterminated string literal (detected at line 1) (3376294491.py, line 1)

In [179]:
print('It\'s raining outside.')

It's raining outside.

In [183]:
'He said, "Python is awesome!"'

'He said, "Python is awesome!"'

In [187]:
print('He said, \'Python is awesome!\'')

He said, 'Python is awesome!'

In [ ]:
"He said, \"Python is awesome!\""

### Example
The provided code example demonstrates the use of escape sequences in strings for formatting text output. Specifically, it uses the tab (`\t`) and newline (`\n`) escape characters to create a neatly formatted table-like output.

`print('English\t86\nMathematics\t76\nScience\t92')`?

In [197]:
print('English\t86\nMathematics\t76\nScience\t92')

English	86
Mathematics	76
Science	92

In [193]:
print("\\n")

\n