# Strings
Strings are fundamental data structures in Python, widely utilized across diverse domains such as software development, data science, and machine learning. They are essentially sequences of characters, typically associated with one or more languages, both natural and technical.

## Creating strings

Strings can be created by wrapping the desired text in single `''` or double `""` quotes.

### Example
Creating empty strings

In [ ]:
empty_string_1 = ''

In [ ]:
empty_string_1

In [ ]:
type(empty_string_1)

In [ ]:
print(empty_string_1)

In [ ]:
empty_string_2 = ""

In [ ]:
empty_string_2

In [ ]:
type(empty_string_2)

In [ ]:
print(empty_string_2)

### Example
Creating non-empty strings

In [ ]:
my_string = 'dog'

In [ ]:
my_string

In [ ]:
print(my_string)

In [ ]:
type(my_string)

In [ ]:
some_string = '25'

In [ ]:
some_string

In [ ]:
print(some_string)

In [ ]:
type(some_string)

In [ ]:
single_quotes_in_string = "'Python'"

In [ ]:
print(single_quotes_in_string)

In [ ]:
double_quotes_in_string = '"Python"'

In [ ]:
print(double_quotes_in_string)

### Example
Creating multiline strings

In [ ]:
multiline_string = '''
This is a multiline
string created using
triple quotes.
'''

In [ ]:
type(multiline_string)

In [ ]:
multiline_string

In [ ]:
print(multiline_string)

We will look at `'\n'` and other escape sequences later.

### Example
Creating strings using the `str()` function

In [ ]:
age = 42

In [ ]:
type(age)

In [ ]:
age

In [ ]:
print(age)

In [ ]:
string_age = str(age)

In [ ]:
type(string_age)

In [ ]:
string_age

In [ ]:
print(string_age)

## Indexing and slicing strings
Indexing operations can be performed on all Python data structures, and allow one to access elements within that data structure by using its position or index number. Note that in Python, indexing starts from $0$, i.e. the element in the first position is accessed with index $0$.

### Example
Accessing individual characters in a string

In [1]:
my_string = 'Python Programming'

In [11]:
len(my_string)

18

In [3]:
my_string

'Python Programming'

In [27]:
my_string[0]

'P'

In [7]:
my_string[1]

'y'

In [9]:
my_string[17]

'g'

In [13]:
my_string[-1]

'g'

In [ ]:
my_string[-2]

### Example
Slice strings to extract substrings

In [57]:
my_string = 'Python Programming'

In [31]:
my_string

'Python Programming'

In [35]:
my_string[0:3]

'Pyt'

In [41]:
my_string [1:7]

'ython '

In [43]:
my_string [:2]

'Py'

In [45]:
my_string[1:6]

'ython'

In [47]:
my_string[4:11]

'on Prog'

In [49]:
my_string[7:18]

'Programming'

In [59]:
my_string[7:]

'Programming'

In [61]:
my_string[12:]

'amming'

In [63]:
my_string = 'Python Programming'

In [65]:
my_string[0:-1]

'Python Programmin'

In [71]:
my_string[:-2]

'Python Programmi'

In [73]:
my_string[1:-1]

'ython Programmin'

In [75]:
my_string[1:-2]

'ython Programmi'

### Example
Accessing string characters in a pattern

In [77]:
my_string = 'Python Programming'

In [79]:
my_string

'Python Programming'

In [95]:
my_string[0:-1:2]

'Pto rgamn'

In [87]:
my_string[::-1]

'gnimmargorP nohtyP'

In [85]:
my_string[::3]

'Ph oai'

In [97]:
my_string[::-2]

'gimroPnhy'

In [107]:
my_string = 'Python Programming'

In [109]:
my_string[1:5:1]

'ytho'

In [135]:
my_string[-1:-6:-2]

'!nt'

### Quiz
Extract `'EDCBA'` from the string `'AXBXCXDXE'`

In [105]:
### YOUR CODE HERE ###
a = 'AXBXCXDXE'
a[::-2]

'EDCBA'

## Operations on strings - getting information about strings

### Example
Obtaining the length of a string

In [ ]:
my_string = 'A'

In [ ]:
len(my_string)

In [ ]:
my_string = 'A B'

In [ ]:
len(my_string)

In [ ]:
my_string = 'This string is 34 characters long.'

In [ ]:
len(my_string)

### Example
Using the `in` operator to check whether a substring is present in a string

In [271]:
my_string = 'I find Python programming very interesting!'

In [273]:
things_to_be_searched = ["find", "very", "umang"]
for item in things_to_be_searched:
    if item in my_string:
        print(f'{item} is present')
    else:
        print(f'{item} is absent')

find is present
very is present
umang is absent

In [113]:
my_string

'I find Python programming very interesting!'

In [267]:
'ery int' in my_string
'O' not in my_string
a = 5

In [123]:
'O' not in my_string

True

In [125]:
'python' in my_string

False

In [127]:
'Python' in my_string

True

In [129]:
'Python' in my_string and 'g!' in my_string

True

In [131]:
'Python' in my_string and 'g!g' in my_string

False

### Example
Finding the index of any character in a string can be done with the `.index()` or `.find()` methods. The difference between these methods is that `.find()` returns `-1` if the index is not found, whereas `.index()` throws an exception.

In [433]:
my_string = 'I find Python programming very interesting!'

In [139]:
my_string

'I find Python programming very interesting!'

In [275]:
'I find Python programming very interesting!'.index('I')

0

In [151]:
my_string.index('I find')

0

In [153]:
my_string.index('R programming')

ValueError: substring not found

In [155]:
my_string.find('I')

0

In [439]:
my_string

'I find Python programming very interesting!'

In [441]:
my_string[22]

'i'

In [437]:
my_string.find('i', 5, len(my_string))

22

In [159]:
my_string.find('I find')

0

In [161]:
my_string.find('Python')

7

In [163]:
my_string.find('R programming')

-1

### Example
Counting occurences in a string

In [165]:
my_string = 'I find Python programming very interesting!'

In [167]:
my_string

'I find Python programming very interesting!'

In [169]:
my_string.count('A')

0

In [171]:
my_string.count(' ')

5

In [173]:
my_string.count('p')

1

In [175]:
my_string.count('i')

4

In [177]:
my_string.count('in')

4

### Example
"ASCII" stands for "American Standard Code for Information Interchange." ASCII assigns numeric values to letters, characters, numbers and other special symbols in order to standardise them across platforms, and allow for a system which can be just as readily understood by humans as by computers.

Obtaining ASCII values of string characters and comparing strings lexicographically

In [ ]:
ord('a')

In [ ]:
ord('b')

In [ ]:
ord('z')

In [183]:
ord('!')

33

In [ ]:
ord('B')

In [ ]:
ord('Z')

In [ ]:
ord(' ')

In [ ]:
ord('!')

In [ ]:
ord('\'')

In [185]:
ord('a') > ord('b')

False

In [189]:
ord('a')

97

In [191]:
ord('b')

98

In [193]:
97 < 98

True

In [195]:
'a' < 'b'

True

In [197]:
'a' > 'b'

False

In [209]:
'Pa' > 'Python'

False

In [201]:
'P' > 'M'

True

## Operation on strings - manipulating strings

### Example
Concatenating strings

In [211]:
first_name = 'Rahul'
last_name = 'Dravid'

In [213]:
first_name + last_name

'RahulDravid'

In [215]:
first_name + ' ' + last_name

'Rahul Dravid'

In [217]:
middle_name = 'Sharad'

In [219]:
first_name + ' ' + middle_name + ' ' + last_name

'Rahul Sharad Dravid'

### Example
Changing the case of a string

In [239]:
my_string = 'My name is Umang. I find Python programming very interesting!'

In [241]:
my_string

'My name is Umang. I find Python programming very interesting!'

In [253]:
my_string = my_string.lower()

In [451]:
my_string.upper()

'I FIND PYTHON PROGRAMMING VERY INTERESTING!'

In [429]:
my_string.find?

Docstring:
S.find(sub[, start[, end]]) -> int

Return the lowest index in S where substring sub is found,
such that sub is contained within S[start:end].  Optional
arguments start and end are interpreted as in slice notation.

Return -1 on failure.
Type:      builtin_function_or_method

In [255]:
my_string

'my name is umang. i find python programming very interesting!'

In [257]:
my_string.capitalize()

'My name is umang. i find python programming very interesting!'

In [259]:
my_string.title()

'My Name Is Umang. I Find Python Programming Very Interesting!'

A lot of these operations do not edit the original object in memory.

In [ ]:
my_string

In [ ]:
my_string = my_string.title()

In [ ]:
my_string

### Example
Removing whitespaces

In [421]:
my_string = '##> ####Python is fun #_ # # # #'

In [423]:
my_string

'##> ####Python is fun #_ # # # #'

In [425]:
my_string.strip('# >')

'Python is fun #_'

In [413]:
my_string

'##> ####Python is fun # # # # # '

In [ ]:
my_string = my_string.strip()

In [ ]:
my_string

### Example
Replacing substrings

In [379]:
my_string = 'I find Python programming very interesting!'

In [381]:
my_string

'I find Python programming very interesting!'

In [385]:
my_string.replace('i', 'We')

'I fWend Python programmWeng very WenterestWeng!'

In [ ]:
my_string

In [387]:
my_string = my_string.replace('I', 'We')

In [389]:
my_string

'We find Python programming very interesting!'

### Quiz
 Find the length of the string `'Python programming is fun!'` and count the occurrences of `'n'` in the string.

In [ ]:
### YOUR CODE HERE ###

In [ ]:
### YOUR CODE HERE ###

# Lists
A list is a built-in Python data structure which is used to store a collection of items. The items stored can be of any type, and more than one type can be used in a list. Lists are ordered, and the elements within a list can be accessed by indexing. Lists are mutable or can be changed.

## Creating lists

### Example
Creating an empty list

In [453]:
my_list = []

In [455]:
my_list

[]

In [457]:
print(my_list)

[]

In [459]:
type(my_list)

list

### Example
Creating lists with elements

In [493]:
my_list = [1, 2, 3, 4, 5]
my_list

[1, 2, 3, 4, 5]

In [489]:
names = ["umang", "aman", 1,2 , True, False, my_list ]

In [497]:
my_list

[1, 2, 3, 4, 5]

In [499]:
print(my_list)

[1, 2, 3, 4, 5]

### Example
Creating lists using the `list()` function

In [501]:
my_list = list()

In [503]:
my_list

[]

In [509]:
string = 'Hello'
string

'Hello'

In [511]:
type(string)

str

In [515]:
my_list = list(string)

In [517]:
my_list

['H', 'e', 'l', 'l', 'o']

In [519]:
type(my_list)

list

### Example
Creating nested lists

In [521]:
nested_list = [[1, 2], [3, 4], [5, 6, 7]]

In [523]:
len(nested_list)

3

In [525]:
nested_list[0]

[1, 2]

In [527]:
type(nested_list[0])

list

### Example
Lists can also be created with different data types

In [529]:
mixed_list = [1, 'hello', 3.14, True, [5, 6]]

In [531]:
mixed_list

[1, 'hello', 3.14, True, [5, 6]]

In [533]:
type(mixed_list)

list

In [535]:
type(mixed_list[0])

int

In [537]:
type(mixed_list[1])

str

In [539]:
type(mixed_list[2])

float

In [541]:
type(mixed_list[3])

bool

In [543]:
type(mixed_list[4])

list

## Indexing and slicing lists

### Example
Indexing a specific element from a list

In [ ]:
my_list = [1, 2, 3, 4, 5]

In [ ]:
my_list

In [ ]:
my_list[2]

### Example
Slicing elements from a list

In [545]:
my_list

['H', 'e', 'l', 'l', 'o']

In [547]:
my_list[0:2]

['H', 'e']

In [549]:
my_list[0:1]

['H']

In [551]:
my_list[1:4]

['e', 'l', 'l']

In [553]:
my_list[2:]

['l', 'l', 'o']

In [555]:
my_list[:3]

['H', 'e', 'l']

### Example
Accessing elements inside a nested list

In [558]:
my_list = [[1, 2, 3], ['apple', 'banana', 'orange'], 3.14, ['dog', 'cat', 'bird']]

In [572]:
my_list[-3]

['apple', 'banana', 'orange']

In [588]:
# Accessing 'dog'
my_list[1][2]

'orange'

In [586]:
my_list[-3][-1]

'orange'

### Quiz
Print `45` from the following list: `[1, -1, 0, [[50, 34], [45]], 23]`.

In [ ]:
some_list = [1, -1, 0, [[50, 34], [45]], 23]
some_list[3][1][0]

## Operations on lists - getting information about lists

The following examples use `my_list` defined below for every operation:

In [2]:
my_list = [1.0, 4.0, 2.0, 3.0, 5.0, 6.0, 3.0, 4.0, 5.0, 7.0, 5.0, 6.0, 7.0, 3.0, 5.0, 6.0, 7.0]
my_list

[1.0,
 4.0,
 2.0,
 3.0,
 5.0,
 6.0,
 3.0,
 4.0,
 5.0,
 7.0,
 5.0,
 6.0,
 7.0,
 3.0,
 5.0,
 6.0,
 7.0]

### Example
Finding the length of a list

In [4]:
len(my_list)

17

### Example
Finding the largest and smallest elements in a list

In [24]:
max_ele = max(my_list)
max_ele

7.0

7.0

In [10]:
min_ele = min(my_list)

In [12]:
min_ele

1.0

### Example
Finding the index of elements in a list

In [22]:
my_list.index(5.0)

4

In [ ]:
my_list[my_list.index(5.0)]

In [ ]:
my_list.index(max_ele)

In [ ]:
my_list.index(min_ele)

### Example
Finding the frequency of an element in a list

In [26]:
my_list.count(5.0)

4

### Example
Finding the sum of all elements in a list

In [28]:
sum(my_list)

79.0

### Example
Checking whether an element is present in a list

In [30]:
1.0 in my_list

True

In [32]:
1 in my_list

True

In [34]:
1.0 in my_list and 5.0 in my_list

True

### Quiz
Find the mean of the numbers in the list `[3, 8.5, 2, 11, 6.7, 9, 4.2, 7, 10, 5.5]`.

**Hint:** The mean can be calculated by adding all elements in the list and dividing by the length of the list.

In [36]:
### YOUR CODE HERE ###
a = [3, 8.5, 2, 11, 6.7, 9, 4.2, 7, 10, 5.5]
a

[3, 8.5, 2, 11, 6.7, 9, 4.2, 7, 10, 5.5]

In [42]:
sum(a) / len(a)

6.69

## Operations on lists - manipulating lists

The following examples use `my_list` defined below for every operation.

In [74]:
my_list = ["apple", "banana", "orange", "grape", "kiwi"]
my_list

['apple', 'banana', 'orange', 'grape', 'kiwi']

### Example
Adding elements to a list

In [50]:
my_list.append('avocado')

### Example
Deleting last element from a list

In [136]:
my_list = ["apple", "banana", "orange", "grape", "kiwi"]
my_list

['apple', 'apple', 'banana', 'orange', 'grape', 'kiwi']

In [86]:
poppedfruit = my_list.pop()

In [88]:
poppedfruit

'kiwi'

The `pop` method doesn't just delete the last element from a list, but also extracts it.

In [172]:
[0]

[0]

In [170]:
my_list[0]

'apple'

In [164]:
type([0])

list

In [180]:
my_list.pop(1)

'banana'

In [94]:
my_list

['apple', 'orange', 'grape']

### Example
Deleting an element at specific position

In [120]:
a = 5
b = 6

In [128]:
del my_list[1]

NameError: name 'my_list' is not defined

In [126]:
b

6

In [118]:
my_list

NameError: name 'my_list' is not defined

### Example
Removing a specific element from a list

In [144]:
a = 5

In [152]:
def my_func():
    return "Umang"

In [158]:
my_func()

NameError: name 'my_func' is not defined

In [156]:
del my_func

In [146]:
a.remove()

AttributeError: 'int' object has no attribute 'remove'

In [140]:
my_list

['apple', 'banana', 'orange', 'grape', 'kiwi']

Note how the above operations act in-place, that is, they do not require reassignment to a variable to modify the original lists.

### Example
Sorting a list

In [236]:
my_list = ["apple", "banana", "orange", "grape", "kiwi", "pineapple"]
my_list

['apple', 'banana', 'orange', 'grape', 'kiwi', 'pineapple']

In [250]:
sorted_list = my_list.sort?

Signature: my_list.sort(*, key=None, reverse=False)
Docstring:
Sort the list in ascending order and return None.

The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
order of two equal elements is maintained).

If a key function is given, apply it once to each list item and sort them,
ascending or descending, according to their function values.

The reverse flag can be set to sort in descending order.
Type:      builtin_function_or_method

In [248]:
my_list is None

False

In [246]:
sorted_list is None

True

In [202]:
my_list.sort?

Signature: my_list.sort(*, key=None, reverse=False)
Docstring:
Sort the list in ascending order and return None.

The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
order of two equal elements is maintained).

If a key function is given, apply it once to each list item and sort them,
ascending or descending, according to their function values.

The reverse flag can be set to sort in descending order.
Type:      builtin_function_or_method

In [200]:
sorted?

Signature: sorted(iterable, /, *, key=None, reverse=False)
Docstring:
Return a new list containing all items from the iterable in ascending order.

A custom key function can be supplied to customize the sort order, and the
reverse flag can be set to request the result in descending order.
Type:      builtin_function_or_method

In [214]:
ascending_list = sorted(my_list, key = lambda a: len(a), reverse=True)

In [216]:
ascending_list

['pineapple', 'banana', 'orange', 'apple', 'grape', 'kiwi']

In [198]:
my_list

['apple', 'banana', 'orange', 'grape', 'kiwi']

In [204]:
descending_list = sorted(my_list, reverse = True)

In [206]:
descending_list

['orange', 'kiwi', 'grape', 'banana', 'apple']

### Quiz
Find the second smallest element in the list `[10, 20, 5, 30, 40, 15]`.

In [256]:
### YOUR CODE HERE ###
a = [10, 20, 5, 30, 40, 15]
a.sort()
print(a)
a[0]

[5, 10, 15, 20, 30, 40]

5

In [258]:
min(a), max(a), sum(a)/len(a)

(5, 40, 20.0)

### Example
Reversing a list

In [260]:
my_list

['apple', 'banana', 'grape', 'kiwi', 'orange', 'pineapple']

In [262]:
my_list[::-1]

['pineapple', 'orange', 'kiwi', 'grape', 'banana', 'apple']

### Example
Repeating a list

In [264]:
my_list

['apple', 'banana', 'grape', 'kiwi', 'orange', 'pineapple']

In [266]:
my_new_list = my_list * 5

In [268]:
my_new_list

['apple',
 'banana',
 'grape',
 'kiwi',
 'orange',
 'pineapple',
 'apple',
 'banana',
 'grape',
 'kiwi',
 'orange',
 'pineapple',
 'apple',
 'banana',
 'grape',
 'kiwi',
 'orange',
 'pineapple',
 'apple',
 'banana',
 'grape',
 'kiwi',
 'orange',
 'pineapple',
 'apple',
 'banana',
 'grape',
 'kiwi',
 'orange',
 'pineapple']

### Example
Extending lists

In [288]:
my_list = ['apple', 'banana', 'grape', 'kiwi', 'orange', 'pineapple']
my_list

['apple', 'banana', 'grape', 'kiwi', 'orange', 'pineapple']

In [290]:
my_other_list = ['guava', 'pineapple', 'plum', 'pear']

In [292]:
extended_list = my_list + my_other_list

In [276]:
extended_list

['apple',
 'banana',
 'grape',
 'kiwi',
 'orange',
 'pineapple',
 'guava',
 'pineapple',
 'plum',
 'pear']

In [278]:
my_list

['apple', 'banana', 'grape', 'kiwi', 'orange', 'pineapple']

In [286]:
my_list.extend?

Signature: my_list.extend(iterable, /)
Docstring: Extend list by appending elements from the iterable.
Type:      builtin_function_or_method

In [294]:
new_list = my_list.extend(my_other_list)

In [296]:
print(new_list)

None

In [298]:
my_list

['apple',
 'banana',
 'grape',
 'kiwi',
 'orange',
 'pineapple',
 'guava',
 'pineapple',
 'plum',
 'pear']

Note that the `.extend()` method, like `.append()` and `.pop()`, works in-place, that is, it does not create a new list. Instead it modifies the list upon which it was called.

### Example
Splitting strings into lists of substrings and joining them back together

In [300]:
a = "umang"

In [ ]:
a.

In [302]:
my_list[0]

'apple'

In [306]:
type(my_list)

list

In [304]:
type(my_list[0])

str

In [ ]:
my_list[0].

In [ ]:
my_string = 'I find Python programming very interesting!'

In [ ]:
my_string

In [ ]:
my_string.split()

In [ ]:
my_string

In [ ]:
my_string.split(' ')

In [ ]:
my_string

Note how `my_string` hasn't changed in spite of applying the `.split()` method on it. One would have to reassign the output to a variable for the changes to stick.

In [ ]:
my_string_list = my_string.split(' ')

In [ ]:
my_string_list

In [ ]:
type(my_string_list)

In [ ]:
my_string

In [ ]:
my_string.split('i')

In [ ]:
my_string_list

In [ ]:
''.join(my_string_list)

In [ ]:
'#'.join(my_string_list)

In [ ]:
' '.join(my_string_list)